li {
    float: left;
    width: 200px;
    text-align: center;
    margin-right: 10px;
    position: absolute;
    top: 23px;
}

li a {
    color: white;
    font-size: 18px;
}

#id {
    width: 50px;
}

#comboboxtimkiem {
    margin-top: 15px;
    width: 200px;
    height: 25px;
}

ul {
    position: relative;
}

.main {
    margin-top: 15px;
    position: relative;
    border-radius: 30px;
    width: 100%;
}

.main1 {
    margin-top: 15px;
    position: relative;
    border-radius: 30px;
    width: 100%;
}

.img-feature {
    transition: 1s;
}

.list-image {
    width: 70%;
    display: flex;
    margin-top: 10px;
}

.list-image div {
    flex: 1;
    padding: 3px;
}

.list-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.control {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: white;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.active {
    background: black;
}

.img-feature1 {
    transition: 1s;
}

.list-image1 {
    width: 70%;
    display: flex;
    margin-top: 10px;
}

.list-image1 div {
    flex: 1;
    padding: 3px;
}

.list-image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.control1 {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: white;
    transform: translateY(-50%);
}

.prev1 {
    left: 10px;
}

.next1 {
    right: 10px;
}

.active1 {
    background: black;
}

.gametieubieu {
    display: flex;
    justify-content: center;
}

.gametieubieu .box {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 30px;
}

.tieudegame {
    height: 70px;
    width: 270px;
    background-color: black;
    margin-left: 10px;
    margin-top: 40px;
}

.footer {
    height: 300px;
}

.copy {
    height: 30px;
}

.hinhfooter {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

nav ul {
    text-transform: uppercase;
}

.tieubieu a {
    text-decoration: solid white;
}

.tieubieu img:hover {
    width: 103%;
}

.tieudephanmem {
    height: 70px;
    width: 340px;
    background-color: black;
    margin-left: 10px;
    margin-top: 40px;
}